# ignore virtual environment folder
venv/

node_modules/

# ignore Python cache files
__pycache__/

# ignore compiled Python files
*.pyc

# ignore files and folders that contain credentials
credentials.*

# ignore temporary files created by VIM
*.swo
*.swp