{% extends "base.html" %}
{% block content %}
     
    <form method="post">
          <ol>
    <!-- For loop logic of jinja template -->
    {%for i in range(0, 9)%}
        <li>
        <input type="checkbox" name="checkboxes" id="checkbox_{{i}}" value="{{top_tracks[i]}}">
        <label for="checkbox_{{i}}">{{top_tracks[i]}}</label>
        </li>
	
        <!--<li>{{top_tracks[i]}}</li> -->
    {%endfor%}
<input type="submit" value="Submit">
  
    </ol>
<p>{{recommendation}}</p>

{% endblock %}